:root {
    --fadednav: rgba(0, 0, 0, 0.6);
	--black: #000;
	--white: #fff;
    --faded: #d9dadc;
    --linkgreen: #1DB954;
    --hvrgreen: #1ed760;
    --homebgcolor:#2D46B9;
    --secondary: #919496;
    --premiumblue: #1d75de;
}
html{
    scroll-behavior: smooth;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
}
.container {
	width: 1170px;
  margin: 0 auto;
	padding: 0 15px;
}
/*
    Header
*/

.home_main{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: -80px;
}
.hm_gradient-1{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #509BF5;
    background-image: -webkit-gradient(linear, left top, right top, from(#c074b2), to(#8ab5e8));
    background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
}
.hm_gradient-2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
    background-image: linear-gradient(transparent, #000);
}
.hm_cont{
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-top: 235px;
    position: relative;
}
.home_text{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
}
.green_btn{
    display: inline-block;
    margin: 32px 0;
    font-size: 16px;
    line-height: 1;
    border-radius: 50px;
    padding: 19px 56px 21px;
    color: var(--white);
    background-color: #1DB954;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
}
.green_btn:hover{
    background-color: var(--hvrgreen);
}